<!DOCTYPE HTML>
{% load sitevars utils %}<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{%block title%}{%endblock%}</title>

<link rel="stylesheet" href="/static/css/ct_template_pdf.css">


<!-- 
    
    #headerContent p {border-bottom: 1px solid #393939; }
    #footerContent { text-align: right; }




 -->

</head>
<body>
<!-- 
    <div id="headerContent">
    {%block page_header%}
            <p>{{ title|safe }}</p>
    {%endblock%}
    </div>
<p>&nbsp;</p>
 -->
<div>
{%block page_title%}
{%endblock%}
<p>&nbsp;</p>
{%block content%}
{%endblock%}
</div>
<div id="footerContent">
{%block page_foot%}
{%endblock%}
</div>
</body>
</html>
