{% extends "base.html" %}
{% load i18n markup tagging_tags ct_tags ct_groups_tags eltree sitevars utils forms %}

{% block title %}{{ clin_template.name }}{% endblock %}

{% block stylesheet_extra %}
<link rel="stylesheet" href="/static/css/ct_template.css" type="text/css" media="screen, projection">
{% endblock %}

{% block breadcrumbs %}
  <a href="{% site_base %}">{% trans 'Home' %}</a>	&gt;
  <a href="{% site_base %}groups">{% trans 'Groups' %}</a>	&gt;
  <a href="{% url group clin_template.workgroup.slug %}">{{ clin_template.workgroup.name }}</a>
{% endblock %}

{% block content %}

<!-- ################################ TEMPLATE INFO ################################ -->

<h1>{{ clin_template.name }}</h1>

  {{ clin_template.note|default_if_none:""|textile }}

	<div class="entry-descr">
	    {% tags_for_object clin_template as tag_list %}                          
	    <ul>
	        {% if tag_list %}
	            <li class="entry-tags">
	            <ul class="tags">
	                {% for tag in tag_list %}
	                    <li><a href="{% url tag tag.name %}">{{ tag.name }}</a></li>
	                {% endfor %}
	            </ul>
	            </li>
	        {% endif %}
	    </ul>
	</div>


{% if clin_template.accept_reviews %}

<!-- ################################ REVIEWS ################################  -->
	
	<h2>Reviews</h2>

	<p>You can use a review to give an overall view of a template, rather than contribute comments intended to help develop a it.</p> 

	<p>Comments are not available on templates based on standardised tools, so leave a review if you want to recommend a template, or advise others on weaknesses in the evidence or problems in using it.</p>

	{% if clin_template.clintemplatereview_set.all %}
	<p class="small">ratings: 1 = serious concern, 2 = some concern, 3 = acceptable for use, 4 = useful, 5 = recommended</p>

	<div class="siteresources">
		<table width="100%">
			{% for review in clin_template.clintemplatereview_set.all %}
				<tr><th width="20%">{{ review.reviewer.get_full_name }}:<br/>
				<span class="small">{{ review.review_date|date:"j F Y, H:i" }}</span><br/>
				<span class="small">{{ review.rating|rating_display }}</span>
				</th>
				<td width="60%">{{ review.review|linebreaksbr }}</td></tr>
			{% endfor %}
		</table>
	</div>
	{% endif %}

	{% comment %}
		if not authorised
			log in to add a review
		else
			check perm can comment
		
			if user.is_authenticated %}
				{% if clin_template.workgroup|can_comment:user
				
	{% endcomment %}

	<p>
	{% if user.is_authenticated %}
		{% if clin_template.workgroup|can_comment:user %}
		   <a href="/templates/{{ clin_template.id }}/addreview/">Add a review of this template.</a>
		{% else %}
			Sorry, you don't have access to add a review.
		{% endif %}
	{% else %}
		<a href="{% site_base %}accounts/login/?next={{ REQ_FULL_PATH|nologout }}">log in</a> to add a review.
	{% endif %}
	</p>
{% endif %}

<br>

<!-- ################################ TEMPLATE TABS ################################  -->

{% if clin_template.accept_comments %}
<!-- 	<p>{% trans "You can see any comments by clicking on the '<strong>show comments</strong>' beside each item, or click '<strong>add comment</strong>' to have your say." %}</p>
 -->{% else %}
	<p>{% trans 'This template does not accept comments.' %}</p>
{% endif %}

<div id="ct-tabs">
	<ul>
		<li><a href="{% url template-detail clin_template.id %}?tView=0"><span>{% trans "View as form"%}</span></a></li>
		<li><a href="{% url template-detail clin_template.id %}?tView=1"><span>{% trans "View as data"%}</span></a></li>
		{% if clin_template.documentation %}
			<li><a href="{% url template-detail clin_template.id %}?tView=2"><span>{% trans 'Documentation' %}</span></a></li>
		{% endif %}
		<li><a href="{% url template-detail clin_template.id %}?tView=3"><span>{% trans "Metadata"%}</span></a></li>

		{% if clin_template.workgroup|group_edit:user %}
			<li><a href="#settings">{% trans "Settings"%}</a></li>
		{% endif %}

	</ul>
	{% if clin_template.workgroup|group_edit:user %}
	    <div id="settings">

	    	<form action="{% url template-settings clin_template.id %}" method="post" class="wider">{% csrf_token %}
            <fieldset>
                <legend><span>{% trans 'Settings' %}:</span></legend>
                <ol>
                     {% show_errors settingsform.non_field_errors %}
                     {% for field in settingsform %}
                          {% show_field field "li" %}
                     {% endfor %}
                </ol>
            </fieldset>

            <fieldset class="submit">
                <input type="submit" name="result" value="{% trans 'Save changes' %}">&nbsp;&nbsp;
            </fieldset>

        </form>

	    </div>
	{% endif %}
</div>

<!-- ################################ ALT IF NO JS- MENU ################################  -->

<div id="ct-tabs-alt">
  <ul class="subnav">
	{% if clin_template.accept_comments %}
	<li><a href="" class="toggleallcomments">{% trans "Show all comments"%}</a></li>
	{% endif %}
	<li><a href="/templates/{{ clin_template.id }}/?tView=0">{% trans "See template form"%}</a></li>
	<li><a href="/templates/{{ clin_template.id }}/?tView=1">{% trans "See template data"%}</a></li>
	<li><a href="/templates/{{ clin_template.id }}/?tView=2">{% trans "Documentation"%}</a></li>
	<li><a href="/templates/{{ clin_template.id }}/?tView=3">{% trans "Metadata"%}</a></li>

  </ul>

<!-- ################################ ALT IF NO JS- CONTENT ################################  -->

{% block template_detail %}{% endblock template_detail %}

</div>

<!-- ################################ OTHER ACTIONS ################################  -->

{% if clin_template.workgroup|resource_delete:user %}
    <p><a href="{% url template-delete clin_template.id %}">{% trans 'Delete' %}</a></p>
{% endif %}

{% endblock %}

<!-- ################################ JS ################################  -->

{% block js-extra %}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script src="/static/js/ct_collapsible.js"></script>
<script type="text/javascript">

function togglecomments(el) {
	// var divname = 'h_' + el;
	//alert(el)
	var div = $("#h_" + el)
	var a = $("#l_" + el)
	if (div.css('display')=='none') {
		a.text('{% trans 'Hide comments' %}')
	} else {
		a.text('{% trans 'Show comments' %}')
	}
	div.slideToggle(300);
}
</script>
{% endblock %}

{% block js-document-ready %}
    $("head").append("<link>");
    css = $("head").children(":last");
    css.attr({
      rel:  "stylesheet",
      type: "text/css",
      href: "/static/css/ct_template_enhanced.css"
    });
    
    $("#ct-tabs").show();
	$("#ct-tabs").tabs({
		cache: true,
		disabled: [{% if not clin_template.inf_model %}0, 1,{% endif %}null],
        {% if tView %}selected: {{ tView }},{% endif %}
		load: function(event, ui) {
			{# load is called on load of each tab- setup stuff just for that tab, or it's added multiple times #}
			{% if comment_id  %}togglecomments('{{comment_id}}');location.href='#{{comment_id}}';{% endif %}
			var view = '#ct_view' + $("#ct-tabs").tabs('option', 'selected');
            if (view=="#ct_view2") { $('#ct_view2 h3').collapsible(); };
			$(view + ' .toggleallcomments').click(function(event){
				var show = $(this).text().indexOf("{% trans "Show all comments" %}") > -1;
				if (show) { $(this).text("{% trans 'Hide all comments' %}"); }
				else { $(this).text("{% trans 'Show all comments' %}"); }
				{# alert(view + " " + show); #}
				if (show) {
					$(view + " .ct_comments_hide_show").show(300);
					t = '{% trans 'Hide comments' %}'	;
				} else {
					$(view + " .ct_comments_hide_show").hide(300);
					t = '{% trans 'Show comments' %}';
				}
				$(view + " .toggle_comment").text(t);
				return false;
		   });
		   $(view + ' .togglealldocs').click(function(event){
				var show = $(this).text().indexOf("{% trans "Show all text" %}") > -1;
				if (show) { $(this).text("{% trans 'Hide all text' %}"); }
				else { $(this).text("{% trans 'Show all text' %}"); }
                if (show) {
                    $(view + " .collapsible-content").removeClass("collapsible-content-collapsed");
                    $(view + " .collapsible-heading").removeClass("collapsible-heading-collapsed");
                } else {
                    $(view + " .collapsible-content").addClass("collapsible-content-collapsed");
                    $(view + " .collapsible-heading").addClass("collapsible-heading-collapsed");
                }
				return false;
		   });
		
		} 
	});
	$("#ct-tabs-alt").hide();
{% endblock %}


