{% extends "base.html" %}
{% load i18n markup tagging_tags ct_tags ct_groups_tags eltree sitevars utils forms %}
{% load future %}

{% block title %}{{ clin_template.name }}{% endblock %}

{% block stylesheet_extra %}
<link rel="stylesheet" href="/static/css/ct_template.css" type="text/css" media="screen, projection">
{% endblock %}

{% block breadcrumbs %}
  <p><a href="{% site_base %}">{% trans 'Home' %}</a>	&gt;
  <a href="{% site_base %}groups">{% trans 'Groups' %}</a>	&gt;
  <a href="{% url 'group' clin_template.workgroup.slug %}">{{ clin_template.workgroup.name }}</a></p>
{% endblock %}

{% block content %}

<!-- ################################ TEMPLATE INFO ################################ -->

<h1>{{ clin_template.name }}</h1>

  {{ clin_template.note|default_if_none:""|textile }}

{% tags_for_object clin_template as tag_list %}                          
{% if tag_list %}
	<div class="entry-descr">
	    <ul>
	            <li class="entry-tags">
	            <ul class="tags">
	                {% for tag in tag_list %}
	                    <li><a href="{% url 'tag' tag.name %}">{{ tag.name }}</a></li>
	                {% endfor %}
	            </ul>
	            </li>
	    </ul>
	</div>
{% endif %}

<!-- ################################ REVIEWS ################################  -->

{% if clin_template.accept_reviews %}
        {% include "clintemplates_reviews.html" %}
{% endif %}

<br>

<!-- ################################ TEMPLATE TABS ################################  -->

{% if clin_template.accept_comments %}
<!-- 	<p>{% trans "You can see any comments by clicking on the '<strong>show comments</strong>' beside each item, or click '<strong>add comment</strong>' to have your say." %}</p>
 -->{% else %}
	<p>{% trans 'This template does not accept comments.' %}</p>
{% endif %}

<div id="ct-tabs">
	<ul>
		<li><a href="{% url 'template-detail' clin_template.id %}?tView=form"><span>{% trans "View as form"%}</span></a></li>
		{% if clin_template|show_data_view:user %}
			<li><a href="{% url 'template-detail' clin_template.id %}?tView=data"><span>{% trans "View as data"%}</span></a></li>		
		{% endif %}
		{% if clin_template.documentation %}
			<li><a href="{% url 'template-detail' clin_template.id %}?tView=docs"><span>{% trans 'Documentation' %}</span></a></li>
		{% endif %}
		<li><a href="{% url 'template-detail' clin_template.id %}?tView=metadata"><span>{% trans "Metadata"%}</span></a></li>
		{% if clin_template.file_resources %}
			<li><a href="#files"><span>{% trans 'Files' %}</span></a></li>
		{% endif %}

		{% if clin_template.workgroup|group_edit:user %}
			<li><a href="#settings">{% trans "Settings"%}</a></li>
		{% endif %}

	</ul>

	<div id="files">
		{% include "file_resources.html" %}
	</div>

	{% if clin_template.workgroup|group_edit:user %}
	    <div id="settings">

	    	<form action="{% url 'template-settings' clin_template.id %}" method="post" class="wider">{% csrf_token %}
	            <fieldset>
	                <legend><span>{% trans 'Settings' %}:</span></legend>
	                <ol>
	                     {% show_errors settingsform.non_field_errors %}
	                     {% for field in settingsform %}
	                          {% show_field field "li" %}
	                     {% endfor %}
	                </ol>
	            </fieldset>

	            <fieldset class="submit">
	                <input type="submit" name="result" value="{% trans 'Save changes' %}">&nbsp;&nbsp;
	            </fieldset>

	        </form>

	    </div>
	{% endif %}
</div>

<!-- ################################ ALT IF NO JS- MENU ################################  -->

<div id="ct-tabs-alt">
  <ul class="subnav">
	{% if clin_template.accept_comments %}
	<li><a href="" class="toggleallcomments">{% trans "Show all comments"%}</a></li>
	{% endif %}
	<li><a href="/templates/{{ clin_template.id }}/?tView=form">{% trans "See template form"%}</a></li>
	<li><a href="/templates/{{ clin_template.id }}/?tView=dataset">{% trans "See template data"%}</a></li>
	<li><a href="/templates/{{ clin_template.id }}/?tView=docs">{% trans "Documentation"%}</a></li>
	<li><a href="/templates/{{ clin_template.id }}/?tView=metadata">{% trans "Metadata"%}</a></li>

  </ul>

<!-- ################################ ALT IF NO JS- CONTENT ################################  -->

{% block template_detail %}{% endblock template_detail %}

</div>

<!-- ################################ OTHER ACTIONS ################################  -->

{% if clin_template.workgroup|resource_delete:user %}
    <p><a href="{% url 'template-delete' clin_template.id %}">{% trans 'Delete' %}</a></p>
{% endif %}

<div id="comment-form-holder" style="display: none;">
	<form id="comment-form" action="{% site_base %}templates/{{ clin_template.id }}/{{ comment_id }}/comment/" method="post">{% csrf_token %}
		<legend>{% trans "Add comment" %}</legend>

		<p><textarea name="comment_text" rows="8" cols="50">{{comment_text}}blarger</textarea></p>

		<input type="hidden" name="tView" value="{{ tView }}" />
		<input type="hidden" name="top" value="{{ top_template_id }}" />
		<input type="submit" name="result" value="{% trans 'Submit' %}">
		<input type="submit" name="cancel" value="{% trans 'Cancel' %}" />
	</form>
</div>

{% endblock %}

<!-- ################################ JS ################################  -->


{% block js-extra %}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	
<script type="text/javascript" src="/static/js/jstree/vakata.js"></script>
{% comment %}
{% endcomment %}

<script type="text/javascript" src="/static/js/jstree/jstree.core.js"></script>
<script type="text/javascript" src="/static/js/jstree/jstree.themes.js"></script>
<script type="text/javascript" src="/static/js/jstree/jstree.ui.js"></script>
<script type="text/javascript" src="/static/js/jstree/jstree.dnd.js"></script>

<script src="/static/js/ct_collapsible.js"></script>
<script type="text/javascript">

function togglecomments(el) {
	// var divname = 'h_' + el;
	//alert(el)
	var div = $("#h_" + el)
	var a = $("#l_" + el)
	if (div.css('display')=='none') {
		a.text('{% trans 'Hide comments' %}')
	} else {
		a.text('{% trans 'Show comments' %}')
	}
	div.slideToggle(300);
}
function load_node_metadata(node_id) {
	$.ajax({
		  url: "/templates/{{clin_template.id}}/node-metadata/"+node_id+"/",
		  context: document.body,
		  success: function(data){
		    $('#result').html(data);
		  }
	});
}
</script>

{% endblock %}

	
{% block js-document-ready %}
    $("head").append("<link>");
    css = $("head").children(":last");
    css.attr({
      rel:  "stylesheet",
      type: "text/css",
      href: "/static/css/ct_template_enhanced.css"
    });

	$.jstree.THEMES_DIR = "/static/js/jstree/themes/";
    var arr = [ 'form', 'data', 'docs', 'metadata', 'files', 'settings' ];
    $("#ct-tabs").show();
	$("#ct-tabs").tabs({
		cache: true,
		{% if not clin_template.inf_model %}disabled: [0, 1],{% endif %}
        {% if tView %}selected: jQuery.inArray('{{tView}}', arr),{% endif %}
		load: function(event, ui) {
			{# load is called on load of each tab- setup stuff just for that tab, or it's added multiple times #}
			{% if comment_id  %}togglecomments('{{comment_id}}');location.href='#{{comment_id}}';{% endif %}
			var view = '#ct_view_' + arr[$("#ct-tabs").tabs('option', 'selected')];
            if (view=="#ct_view_docs") { $('#ct_view_docs h3').collapsible(); };
			if (view=="#ct_view_data") {
				var tNode =  '{{tNode}}';
				if (tNode == '') { 
					tNode = '#' + $('#modelTree ul li').attr('id');
				};
				$("#modelTree")
					.bind("__loaded.jstree", function (event, data) {
						$("#modelTree").jstree('open_all');
						$("#modelTree").jstree('select_node', tNode);
						})
					.jstree({
						"themes" : {
							"theme" : "ct"
							// "dots" : true,
							// "icons" : true
						},
						//"plugins" : [ "themes", "dnd", "ui" ],
						"plugins" : [ "themes", "ui" ]

					})
					.bind("select_node.jstree", function (event, data) {
				        // `data.rslt.obj` is the jquery extended node that was clicked
				        load_node_metadata(data.rslt.obj.attr("id"));})
				    .bind("move_node.jstree", function (e, data) {
				    	var moved = data.rslt.obj.attr("id");
				    	var from = data.rslt.old_parent == -1 ? 'top level' : data.rslt.old_parent.attr("id");
				    	var to = data.rslt.parent == -1 ? 'top level' : data.rslt.parent.attr("id");
				    	var pos = data.rslt.position;
				    	$('#result').text('moved '+moved+' from '+from+' to '+to+':'+pos);
				    	console.log(data.rslt);
				    	// console.log('to '+data.rslt.parent);
				    })
				    ;
			    // .delegate("a", "click", function (event, data) { event.preventDefault(); });
				// var tree = $("#modelTree").jstree;
				$('.jstree_toggleopen').click(function() {
					if ($(this).text()=='{% trans 'Close all' %}') {
						$("#modelTree").jstree('close_all');
						$(this).text('{% trans 'Open all' %}');
					} else {
						$("#modelTree").jstree('open_all');
						$(this).text('{% trans 'Close all' %}');
					}
				});

				//$('#result').text('glah');
			 };
			$("#modelTree").jstree('close_all');
            {% block tab-load %}{% endblock %}
			$(view + ' .toggleallcomments').click(function(event){
				var show = $(this).text().indexOf("{% trans "Show all comments" %}") > -1;
				if (show) { $(this).text("{% trans 'Hide all comments' %}"); }
				else { $(this).text("{% trans 'Show all comments' %}"); }
				{# alert(view + " " + show); #}
				if (show) {
					$(view + " .ct_comments_hide_show").show(300);
					t = '{% trans 'Hide comments' %}'	;
				} else {
					$(view + " .ct_comments_hide_show").hide(300);
					t = '{% trans 'Show comments' %}';
				}
				$(view + " .toggle_comment").text(t);
				return false;
		   });
		   $(view + ' .togglealldocs').click(function(event){
				var show = $(this).text().indexOf("{% trans "Show all text" %}") > -1;
				if (show) { $(this).text("{% trans 'Hide all text' %}"); }
				else { $(this).text("{% trans 'Show all text' %}"); }
                if (show) {
                    $(view + " .collapsible-content").removeClass("collapsible-content-collapsed");
                    $(view + " .collapsible-heading").removeClass("collapsible-heading-collapsed");
                } else {
                    $(view + " .collapsible-content").addClass("collapsible-content-collapsed");
                    $(view + " .collapsible-heading").addClass("collapsible-heading-collapsed");
                }
				return false;
		   });
			function set_comment_link(event){ 
		   		var url = $(this).attr('href').split('/');
		   		var target = $('#h_'+url[2]+'_{{tView}}_'+url[3]);
		   		$('#comment-form').hide();
		   		$('#comment-form').appendTo(target[0]);
		   		target.show(); // parent might be hidden
		   		$('#comment-form').slideDown(1000);
		   		$('#comment-form').attr('action', $(this).attr('href'));
		   		return false;
		   	}
		   $('.comment_link > .add').click(set_comment_link);
		   $('#comment-form [name="result"]').click(function(event){
		   		$.ajax({
		   			type:'POST', 
		   			url: $('#comment-form').attr('action'), 
		   			data:$('#comment-form').serialize(), 
		   			success: function(response) {
		   				if (response == '') { return }
		   				parent = $('#comment-form').parent();
		   				var node_id = parent.attr('id').slice(2);
		   				// console.log(node_id);
		   				$('#comment-form').appendTo('#comment-form-holder');
		   				parent.replaceWith(response);
		   				var node = $('#h_' + node_id);
		   				// console.log(node);
		   				var count_link = node.prev().find('.comment_link');
		   				// console.log(count_link);
		   				node.find('.comment_link > .add').click(set_comment_link);

		   				// count_link
		   				var comment_count = node.find('.ct_comment').length;
		   				count_link.replaceWith('<div class="comment_link"><a href="javascript:togglecomments(\''+node_id+'\')" class="toggle_comment" id="l_'+node_id+'">Hide comments</a> <span class="ct_count_bubble">'+comment_count+'</span></div>');

					}
				}); 
		   		$('#comment-form').slideUp(500);
		   		$('#comment-form [name="comment_text"]').val('');
			   return false;
			});
		   $('#comment-form [name="cancel"]').click(function(event){ 
		   		$('#comment-form').slideUp(500);
		   		$('#comment-form [name="comment_text"]').val('');
			    return false;
			});

		
		} 
	});
	$("#ct-tabs-alt").hide();
{% endblock %}


