{% extends "base.html" %}
{% load i18n sitevars %}

{% block title %}Add your review{% endblock %}


{% block content %}

<h2>{{ clin_template.name }}</h2>


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	<form action="" method="post">{% csrf_token %}

		<fieldset>
			<legend>{% trans "Add your review" %}</legend><br/>
			{{ form.rating.errors }}
			<label for="rating">{% trans "Rating" %}</label> {# form.rating #}<br/>

			<input type="radio" id="id_rating" name="rating" value="1">1 = {% trans "Serious concern" %}<br/>
			<input type="radio" id="id_rating" name="rating" value="2">2 = {% trans "Some concern" %}<br/>
			<input type="radio" id="id_rating" name="rating" value="3">3 = {% trans "Acceptable" %}<br/>
			<input type="radio" id="id_rating" name="rating" value="4">4 = {% trans "Good" %}<br/>
			<input type="radio" id="id_rating" name="rating" value="5">5 = {% trans "Excellent" %}<br/><br/>
			
			{{ form.review.errors }}
			<label for="review">{% trans "Review" %}</label> {{ form.review }}<br/><br/>


		</fieldset>
		<input type="hidden" name="tView" value="{{ tView }}" />
		<input type="submit" name="result" value="{% trans "Save" %}" />
		<input type="submit" name="result" value="{% trans "Cancel" %}" />

	</form>



{% endblock %}
