{% load i18n markup %}
{% load future %}
{% with clin_template.file_resources as objects %}

{% if objects %}
	<table class="siteresources">
		<thead>
			<tr><th class="title">{% trans 'Title' %}</th><th>{% trans 'Description' %}</th></tr>
		</thead>
			<tbody>
            {% for object in objects %}
				<tr><td><a href="{{ object.resource.url }}">{{ object.name|slice:":50" }}</a></td><td>{{object.description|textile}}
					<p><a href="{% url 'template_fileresource_edit' object.id %}">edit</a> - 
					<a href="{% url 'template_fileresource_delete' object.id %}">delete</a></p>
				</td></tr>
            {% endfor %}
		</tbody>
		</table>
{% endif %}
 
{% endwith %}

<hr>

<p><a href="{% url 'template_fileresource_add' clin_template.id %}">add a file</a></p>
