{% load i18n eltree sitevars utils markup ct_groups_tags %}
{% load future %}

<ol class="ct_node_children ">
    <li class="ct_level{{ this_level }} ct_node ">
        
        <!-- ###############################  LABEL  ################################ -->
        <div class="ct_node_label clearfix">
            <h3 id="{{ template.id }}_{{ tView }}_{{ elem|elattrib:"id" }}">{{ elem|elattrib:"label"|capfirst }}</h3>

            <!-- ##############  COMMENT COUNT  ############## -->
            {% include "item_detail_comment_count.html" %}

            <!-- ##############  EDIT LINK  ############## -->
            {% if tView in "docs,metadata" and template.enable_editing and template.group|resource_can_edit:user %}
                <div class="edit_link"><a class='action edit' href="{% url 'template-item-edit' template.id tView elem|elattrib:"id" %}">{% trans "Edit" %}</a></div>
            {% endif %}
        </div>
        
        <!-- ###############################  BODY  ################################ -->
        <div class="ct_node_body">
            {% with helptext=elem|elattrib:"helptext" %}
                {% if helptext %}<p class="helptext">{{ helptext }}</p>{% endif %}
            {% endwith %}
            {% elem_body elem tView template %}
        </div>

        <!-- ###############################  COMMENT LIST  ################################ -->
        {% include "item_detail_comment_list.html" %}
        
        <!-- ###############################  CHILD NODES  ################################ -->
        {% if elem|includes_template %}
            {% for elem_incl in elem|included_template_items:template.xmlns %}
                {% item_display elem_incl top_template_id elem child_level tView user %}
            {% endfor%}
        {% endif %}
        {% for child in elem|items:template.xmlns %}
            {% item_display child top_template_id template child_level tView user %}
        {% endfor%}
        
    </li>
</ol>
