{% load i18n eltree sitevars utils markup ct_groups_tags %}


<ol class="ct_node_children ">
	<li class="ct_level{{ this_level }} ct_node ">
		<div class="ct_node_label clearfix">
    		<h3 id="{{ template.id }}_{{ tView }}_{{ elem|elattrib:"id" }}">{{ elem|elattrib:"label"|capfirst }}</h3>
            {% if template.accept_comments %}
				<div class="comment_link">
	               {% if elem|review_comments:template %}
	                 <a href="javascript:togglecomments('{{ template.id }}_{{ tView }}_{{ elem|elattrib:"id" }}')" class="toggle_comment" id="l_{{ template.id }}_{{ tView }}_{{ elem|elattrib:"id" }}">{% trans 'Show comments' %}</a> <span class="ct_count_bubble">{{ elem|review_comments:template|length }}</span>
					{# {%blocktrans count elem|review_comments:template.xmlns|length as counter%}{{ counter }} comment{%plural%}{{ counter }} comments{%endblocktrans%}<img src="{% site_base %}static/icons/comments.png"/> #}
					{# {% trans "Show" %}</a> #}
					{#                   {{ elem|review_comments:template.xmlns|length }} comment{{ elem|review_comments:template.xmlns|length|pluralize }} <img src="{% site_base %}static/icons/comments.png"/> #}
	               {% else %}
	                   {% if user.is_authenticated %}
	                       {% if template.workgroup|can_comment:user %}
	                           <a class='action add' href="{% site_base %}templates/{{ template.id }}/{{ elem|elattrib:"id" }}/comment/?tView={{ tView }}&amp;top={{ top_template_id }}">{% trans "Add comment" %}</a>
	                       {% endif %}
	                   {% else %}
	                       <a href="{% site_base %}accounts/login/?next={{ REQ_FULL_PATH|nologout }}">{% trans "Log in to add comment" %}</a>
	                   {% endif %}

	               {% endif %}
				</div>
           {% endif %}
            {% if tView in "docs,metadata" and template.enable_editing and template.group|resource_can_edit:user %}
                <div class="edit_link"><a class='action edit' href="{% url template-item-edit template.id tView elem|elattrib:"id" %}">{% trans "Edit" %}</a></div>
            {% endif %}
		</div>
		<div class="ct_node_body">
			{% elem_body elem tView template %}
		</div>
		<div class="ct_comments_hide_show" id="h_{{ template.id }}_{{ tView }}_{{ elem|elattrib:"id" }}" style="display: none;">
            {% for v in elem|review_comments:template %}
                <div class="ct_comment_info">
                    {{ v|elattrib:"author" }} - {{ v|elattrib:"review_date"|date:"j F Y, H:i" }}
                </div>
                <div class="ct_comment">
                    {{ v.text|escape|textile }}
                    {% comment %}
                    	
                    {% if forloop.last and template.accept_comments %}
                    	<div class="comment_link"><a class="action add" href="{% site_base %}templates/{{ template.id }}/{{ elem|elattrib:"id" }}/comment/?tView={{ tView }}&amp;top={{ top_template_id }}">{% trans "Add comment" %}</a>

                    	</div>
                    {% endif %}
                    {% endcomment %}
                </div>
                    {% if forloop.last and template.accept_comments %}
                    	<div class="ct_node_label clearfix">
                    	<div class="comment_link"><a class="action add" href="{% site_base %}templates/{{ template.id }}/{{ elem|elattrib:"id" }}/comment/?tView={{ tView }}&amp;top={{ top_template_id }}">{% trans "Add comment" %}</a>
                    	</div></div>
                    {% endif %}
            {% endfor %}

        </div>
        
        {% if elem|includes_template %}
            {% for elem_incl in elem|included_template_items:template.xmlns %}
                {% item_display elem_incl top_template_id elem child_level tView user %}
            {% endfor%}
        {% endif %}
		{% for child in elem|items:template.xmlns %}
            {% item_display child top_template_id template child_level tView user %}
        {% endfor%}
        
	</li>
</ol>
