{% load i18n sitevars utils markup eltree ct_groups_tags  %}
<h2>{{ elem|elattrib:"label"|capfirst }}</h2>
<table>
<!-- <tr>
	<th>{% trans "Label" %}</th>
	<td>{{ elem|elattrib:"label"|capfirst }}</td>
</tr>
 --><tr>
	<th>{% trans "Description" %}</th>
	<td>{{ elem|elattrib:"description"|default:"-"|textile }}</td>
</tr>
<tr>
	<th>{% trans "Datatype" %}</th>
	<td>{{ elem|elattrib:"valueType" }} [{{ elem|elattrib:"datatype" }}]</td>
</tr>
<tr>
	<th>{% trans "Cardinality" %}</th>
	<td>{{ elem|elattrib:"cardinality"|default:"-" }}</td>
</tr>
<tr>
	<th>{% trans "Coding" %}</th>
	<td>
	{% with codes=elem|termbindings:template %}
		{% if codes %}
			{% for code in codes %}
				{{ code.text }}<br>
			{% endfor %}
		{% else %} 
			-
		{% endif %}
	{% endwith %}
	</td>
</tr>
{% with values=elem|values:template %}
{% if values %}  	
<tr>
	<th>{% trans "Values" %}</th>
	<td>
		<dl>
			{% for v in values %}
				<dt>{{ v.text }}</dt>
		        {% if v|elattrib:"score" %}<dd class="score">[{% trans "score" %}= {{ v|elattrib:"score" }}]</dd>{% endif %}
		        {% if v|elattrib:"description" %}<dd class="description">{{ v|elattrib:"description"|safe }}</dd>{% endif %}
		        {% if v|elattrib:"defcode" %}<dd class="defcode">{{ v|elattrib:"defcode" }}</dd>{% endif %}
			{% endfor %}
		</dl>
	</td>
</tr>
{% endif %}   

{% endwith %}


</table>

{% if template.workgroup|resource_can_edit:user and template.enable_editing %}
	<p class="edit_link"><a class="action edit" href="{% url edit-node-metadata template.id elem|elattrib:"id" %}">edit</a></p>
{% endif %}


