/* self-clear floats */
/* line 2, ../../compass/src/ct_template.sass */
.group:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* @end */
/* @group templates */
/* line 13, ../../compass/src/ct_template.sass */
#ct-tabs { display: none; }

/* line 16, ../../compass/src/ct_template.sass */
.ct_node_children { margin-left: 0; padding: 0; }

/* line 20, ../../compass/src/ct_template.sass */
.ct_node { clear: left; padding-left: 2em; margin-bottom: 6px; margin-left: 0px; margin-top: 0em; background-color: White; border: none White; padding-bottom: 0.5em; list-style-type: none; }

/* line 33, ../../compass/src/ct_template.sass */
#ct_view0 .ct_level0 { border-top: thin solid #b1bdb1; border-left: thin solid #b1bdb1; background-color: #e8eff8; }
/* line 38, ../../compass/src/ct_template.sass */
#ct_view0 .ct_level1 { border-top: thin solid #e5dfd2; }
/* line 41, ../../compass/src/ct_template.sass */
#ct_view0 .ct_level2 { border-top: thin solid #e5dfd2; background-color: #f5f2f7; }
/* line 45, ../../compass/src/ct_template.sass */
#ct_view0 .ct_level3 { border-top: thin solid #e5dfd2; }
/* line 48, ../../compass/src/ct_template.sass */
#ct_view0 .ct_level4 { border-top: thin solid #e5dfd2; }

/* line 53, ../../compass/src/ct_template.sass */
#ct_view2 .ct_level0, #ct_view3 .ct_level0 { border-top: thin solid #b1bdb1; }

/* line 57, ../../compass/src/ct_template.sass */
.ct_node_label h3 { float: left; width: 65%; margin-bottom: 1em; }

/* line 68, ../../compass/src/ct_template.sass */
#ct_view3 .ct_node_body { background-color: #eeffee; }

/* line 73, ../../compass/src/ct_template.sass */
.all_comments_link { float: right; width: 25%; text-align: right; padding-right: 1.5em; padding-bottom: 0.5em; }

/* line 81, ../../compass/src/ct_template.sass */
.edit_link { float: right; width: 10%; text-align: right; }

/* line 87, ../../compass/src/ct_template.sass */
.comment_link { float: right; width: 25%; text-align: right; }

/* line 93, ../../compass/src/ct_template.sass */
.ct_count_bubble { color: white; background-color: black; padding-right: 1em; padding-left: 1em; border-radius: 6px; -webkit-border-radius: 6px; -mox-border-radius: 6px; }

/* line 102, ../../compass/src/ct_template.sass */
.ct_value_odd { background-color: #faeed5; }

/* line 105, ../../compass/src/ct_template.sass */
.ct_value_even { background-color: #fcf4e4; }

/* line 108, ../../compass/src/ct_template.sass */
.ct_comments, .ct_comments_hide_show { font-size: 0.9em; background-color: #708090; clear: both; margin-bottom: 2px; }

/* line 114, ../../compass/src/ct_template.sass */
.ct_comments_hide_show { margin-top: 4px; }

/* line 117, ../../compass/src/ct_template.sass */
.ct_comments_hide_show span.right { border-right: thin solid #708090; border-bottom: thin solid #708090; position: absolute; right: 2px; }

/* line 124, ../../compass/src/ct_template.sass */
.ct_comment { color: White; padding-left: 8px; position: relative; padding-bottom: 8px; }

/* line 130, ../../compass/src/ct_template.sass */
.ct_comment p { line-height: 1.4em; margin-top: 6px; }

/* line 134, ../../compass/src/ct_template.sass */
.ct_comment img { display: inline; }

/* line 137, ../../compass/src/ct_template.sass */
.ct_comment_info { background-color: #696969; color: White; border-top: thin solid #708090; padding-left: 8px; }

/* line 143, ../../compass/src/ct_template.sass */
textarea.item_big_text { width: 95%; height: 25em; }

/* @end */
