{% extends base_template %}

{% load i18n eltree %}

{% block template_detail %}

{% ifequal tView '2' %}
	
	{% for section in clin_template.documentation %}
		{{ section|doc_content }}		
	{% endfor %}
	
	
{% else %}
	<div class="ct_info">
		<span class="left">&nbsp;</span>
		<span class="right"><a href="javascript:toggleallcomments()" id="toggleallcomments">{% trans "Show all comments"%}</a>
	</span></div>
	
	{% ifequal tView '1' %}<form action="">{% endifequal %}

	{% for elem in clin_template.inf_model|items:clin_template.xmlns %}
	    {% item_display elem clin_template.id clin_template 0 tView user %}
	{% endfor%}

	{% ifequal tView '1' %}</form>{% endifequal %}
	
{% endifequal %}

{% endblock template_detail %}