{% extends base_template %}

{% load i18n sitevars utils markup eltree ct_groups_tags %}

{% block template_detail %}

<div class="ct_info">
	<span class="left">&nbsp;</span>
	<span class="right"><a href="" class="toggleallcomments">{% trans "Show all comments"%}</a>
</span></div>

{% if tView in '23' %}
	{% with clin_template as template %}

	{% ifequal tView '2'  %} 	{# documentation view #}


		{% for elem in template.documentation %}
			<hr>
				<h2>{{ elem|elattrib:"label" }}</h2>

				{% include "item_comments_link.html" %}
				
				{{ elem|doc_content }}

				
			    {# <div class="ct_col2"> #}
			    {# 	            <div class="ct_info group"> #}
			    {# 	                <span class="left"> #}
			    {# 	                &nbsp;</span> #}
			    {# 	                <span class="right"> #}
			    {# 	                {% if template.accept_comments %} #}
			    {#             {% if elem|review_comments:template.xmlns %} #}
			    {#               <a href="javascript:togglecomments('{{ template.id }}_{{ elem|elattrib:"id" }}')" class="toggle_comment" id="l_{{ template.id }}_{{ elem|elattrib:"id" }}">{% trans 'Show comments' %}</a> <span class="ct_count_bubble">{{ elem|review_comments:template.xmlns|length }}</span> #}
			    {#             {% else %} #}
			    {#                 {% if user.is_authenticated %} #}
			    {#                     {% if template.workgroup|can_comment:user %} #}
			    {#                         <a href="{% site_base %}templates/{{ template.id }}/{{ elem|elattrib:"id" }}/comment/?tView={{ tView }}&amp;top={{ top_template_id }}">{% trans "Add comment" %}</a> #}
			    {#                     {% endif %} #}
			    {#                 {% else %} #}
			    {#                     <a href="{% site_base %}accounts/login/?next={{ REQ_FULL_PATH|nologout }}">{% trans "Log in to add comment" %}</a> #}
			    {#                 {% endif %} #}
			    {#  #}
			    {#             {% endif %} #}
			    {# 	                {% endif %} #}
			    {# 	                </span> #}
			    {# 	            </div> #}
			    {# 	            <div class="ct_comments_hide_show" id="h_{{ template.id }}_{{ elem|elattrib:"id" }}" style="display: none;"> #}
			    {# 	                {% for v in elem|review_comments:template.xmlns %} #}
			    {# 	                    <div class="ct_comment_info"> #}
			    {# 	                        {{ v|elattrib:"author" }} - {{ v|elattrib:"review_date"|date:"j F Y, H:i" }} #}
			    {# 	                    </div> #}
			    {# 	                    <div class="ct_comment"> #}
			    {# 	                        {{ v.text|escape|textile }} #}
			    {# 	                        {% if forloop.last %} #}
			    {# 	                            <span class="right" style="background-color: #eeeeff;">&nbsp;&nbsp;<a href="{% site_base %}templates/{{ template.id }}/{{ elem|elattrib:"id" }}/comment/?tView={{ tView }}&amp;top={{ top_template_id }}">{% trans "Add comment" %}</a>&nbsp;<img src="{% site_base %}media/icons/comments.png"/>&nbsp;</span><br/> #}
			    {# 	                        {% endif %} #}
			    {# 	                    </div> #}
			    {# 	                {% endfor %} #}
			    {# 	            </div> #}
			    {# 	        </div> #}



		{% endfor %}

		
	{% else %} 	{# metadata view #}

	{# <table width="90%"> #}
	{#         {% for item in template.metadata.items %} #}
	{#             <tr><th width="20%">{% trans item.0 %}:</th><td width="60%">{{ item.1|default_if_none:""|textile }}</td></tr> #}
	{#         {% endfor %} #}
	{# </table> #}
    {% for item in template.metadata.items %}
        <h2>{% trans item.0 %}:</h2>
		<p>{{ item.1.text|default_if_none:""|textile }}</p>
		
		{#  TODO: NEED TO USE ELEMENTS IN DICT, NOT STRINGS #}
		{% with item.1 as elem %}
		{% include "item_comments_link.html" %}
		{% endwith %}
		
    {% endfor %}

	{% endifequal %}


	{% endwith %}
	
{% else %}
	{% ifequal tView '1' %}<form action="">{% endifequal %}

	{% for elem in clin_template.inf_model|items:clin_template.xmlns %}
	    {% item_display elem clin_template.id clin_template 0 tView user %}
	{% endfor%}

	{% ifequal tView '1' %}</form>{% endifequal %}
	
{% endif %}

{% endblock template_detail %}