{% extends "base.html" %}
{% load i18n markup tagging_tags ct_tags ct_groups_tags eltree sitevars utils %}

{% block title %}{{ clin_template.name }}{% endblock %}
{% block head_extra %}
{# <script type='text/javascript' src='/media/js/jquery-1.4.2.min.js'></script> #}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script type="text/javascript">

function togglecomments(el) {
    // var divname = 'h_' + el;

	var div = $("#h_" + el)
	var a = $("#l_" + el)
	if (div.css('display')=='none') {
		a.text('{% trans 'Hide comments' %}')
	} else {
		a.text('{% trans 'Show comments' %}')
	}
	div.slideToggle(300);
}

function toggleallcomments() {
    var div = $("#toggleallcomments");
    var show = div.text().indexOf("{% trans "Show all comments" %}") > -1;
    if (show) { div.text("{% trans 'Hide all comments' %}") }
    else { div.text("{% trans 'Show all comments' %}") }
    
    if (show) {
        $(".ct_comments_hide_show").show(300)
        t = '{% trans 'Hide comments' %}'   
    } else {
        $(".ct_comments_hide_show").hide(300)
        t = '{% trans 'Show comments' %}'
    }
    $(".toggle_comment").text(t)
}

$(document).ready(function() {
	$("#ct-tabs").show();
	$("#ct-tabs").tabs({
		cache: true,
		load: function(event, ui) {
			{% if comment_id  %}togglecomments('{{comment_id}}');location.href='#{{comment_id}}';{% endif %}
	    } 
	});
	$("#ct-tabs-alt").hide();
});

</script>
{% endblock %}

{% block breadcrumbs %}
  <a href="{% site_base %}">{% trans 'Home' %}</a>  &gt;
  <a href="{% site_base %}groups">{% trans 'Groups' %}</a>  &gt;
  <a href="{% site_base %}groups/{{ clin_template.workgroup.id }}/">{{ clin_template.workgroup.name|lower }}</a>
{% endblock %}

{% block content %}

{% if clin_template.workgroup %}
<p>{% trans 'in' %} <a href="{{ clin_template.workgroup.get_absolute_url }}">{{ clin_template.workgroup.name }}</a></p>
{% endif %}

<h1>{{ clin_template.name }}</h1>

  {# {{ clin_template.note|default_if_none:""|textile }} #}

{% comment %}
{% if user.is_staff %}
  <p><a href="{% site_base %}admin/ct_template/clintemplate/{{ clin_template.id }}/">edit</a></p>
{% endif %}
{% endcomment %}  

<div class="siteresources">
    <table width="90%">
        {% for item in clin_template.metadata.items %}
            <tr><th width="20%">{% trans item.0 %}:</th><td width="60%">{{ item.1|default_if_none:""|textile }}</td></tr>
        {% endfor %}
        {% if clin_template.included_templates.all %}
            <tr><th width="20%">{% trans 'Includes' %}:</th>
                <td width="60%">
                {% for t in clin_template.included_templates.all %}
                    <a href="{% site_base %}templates/{{ t.id }}/">{{ t.name }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td></tr>
        {% endif %}
        {% if clin_template.in_templates.all %}
            <tr><th width="20%">{% trans 'Used in' %}:</th>
                <td width="60%">
                {% for t in clin_template.in_templates.all %}
                    <a href="{% site_base %}templates/{{ t.id }}/">{{ t.name }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td></tr>
        {% endif %}
        {% tags_for_object clin_template as tag_list %}
        {% if tag_list %}
            <tr><th width="20%">{% trans 'Topics' %}:</th>
                <td width="60%">
                {% for tag in tag_list %}
                    <a href="{% url tag tag.name %}">{% trans tag.name %}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td></tr>
        {% endif %}


    </table>
</div>

<br/>

{% if clin_template.accept_reviews %}
	
	<h2>Reviews</h2>

	<p>You can use a review to give an overall view of a template, rather than contribute comments intended to help develop a it.</p> 

	<p>Comments are not available on templates based on standardised tools, so leave a review if you want to recommend a template, or advise others on weaknesses in the evidence or problems in using it.</p>

	{% if clin_template.clintemplatereview_set.all %}
	<p class="small">ratings: 1 = serious concern, 2 = some concern, 3 = acceptable for use, 4 = useful, 5 = recommended</p>

	<div class="siteresources">
	    <table width="100%">
	        {% for review in clin_template.clintemplatereview_set.all %}
				<tr><th width="20%">{{ review.reviewer.get_full_name }}:<br/>
				<span class="small">{{ review.review_date|date:"j F Y, H:i" }}</span><br/>
				<span class="small">{{ review.rating|rating_display }}</span>
				</th>
				<td width="60%">{{ review.review|linebreaksbr }}</td></tr>
			{% endfor %}
	    </table>
	</div>
	{% endif %}

	{% comment %}
	    if not authorised
	        log in to add a review
	    else
	        check perm can comment
        
	        if user.is_authenticated %}
	            {% if clin_template.workgroup|can_comment:user
                
	{% endcomment %}

	<p>
	{% if user.is_authenticated %}
	    {% if clin_template.workgroup|can_comment:user %}
	       <a href="/templates/{{ clin_template.id }}/addreview/">Add a review of this template.</a>
	    {% else %}
	        Sorry, you don't have access to add a review.
	    {% endif %}
	{% else %}
	    <a href="{% site_base %}accounts/login/?next={{ REQ_FULL_PATH|nologout }}">log in</a> to add a review.
	{% endif %}
	</p>
	<hr>
{% endif %}

<p>{% trans "The template is a list of data items that could make a form- below you see the data items, and alongside each, there is a note of the kind of data that could be recorded against them." %}</p>

{% if clin_template.accept_comments %}
	<p>{% trans "You can see any comments by clicking on the '<strong>show x comments</strong>' beside each item, or click '<strong>add comment</strong>' to have your say." %}</p>
{% else %}
	<p>{% trans 'This template does not accept comments, but you can <a href="/templates/{{ clin_template.id }}/addreview/">add a review.</a>.' %}</p>
{% endif %}

<div id="ct-tabs">
    <ul>
        <li><a href="{% url template-detail clin_template.id %}?tView=0"><span>{% trans "View as form"%}</span></a></li>
        <li><a href="{% url template-detail clin_template.id %}?tView=1"><span>{% trans "View as data"%}</span></a></li>
		{% if clin_template.documentation %}
	        <li><a href="{% url template-detail clin_template.id %}?tView=2"><span>{% trans 'Documentation' %}</span></a></li>
		{% endif %}
    </ul>
</div>

<div id="ct-tabs-alt">
  <ul class="subnav">
  	{% if clin_template.accept_comments %}
    <li><a href="javascript:toggleallcomments()" id="toggleallcomments">{% trans "Show all comments"%}</a></li>
    {% endif %}
    <li><a href="/templates/{{ clin_template.id }}/?tView=0">{% trans "See template form"%}</a></li>
    <li><a href="/templates/{{ clin_template.id }}/?tView=1">{% trans "See template data"%}</a></li>
    <li><a href="/templates/{{ clin_template.id }}/?tView=2">{% trans "Documentation"%}</a></li>
  </ul>

{% block template_detail %}{% endblock template_detail %}

</div>


{% endblock %}
