{% extends base_template %}

{% load i18n markup tagging_tags ct_tags ct_groups_tags eltree sitevars utils %}

{% block template_detail %}

{% ifequal tView '2' %}
	
	<p>{{ clin_template.documentation.text|safe }}</p>
	
	
{% else %}
	{% ifequal tView '1' %}<form action="">{% endifequal %}

	{% for elem in clin_template.model|items:clin_template.xmlns %}
	    {% item_display elem clin_template.id clin_template 0 tView user %}
	{% endfor%}

	{% ifequal tView '1' %}</form>{% endifequal %}
	
{% endifequal %}

{% endblock template_detail %}